@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #c58b8a;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #c58b8a;
  text-decoration: none;
}
h2{
    font-family: Futura, sans-serif;
    font-weight: normal;
    letter-spacing: 5px;
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
    padding-top: 60px;
}
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}
/*------------------

    header

-------------------*/
header{
    background: url(../img/bg_works_key.jpg) no-repeat top;
    background-size: cover;
    height: 300px;
    position: relative;
}
header h1{
    margin: 0;
    text-align: center;
    font-family: futura,sans-serif;
    font-weight: normal;
    letter-spacing: 5px;
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
}
/*------------------

    worksList

-------------------*/
.worksList{
    width: 1020px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.worksList ul{
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 30px;
}
.worksList ul li{
    width: 241px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 20px;
}
.worksList ul li:nth-child(4),:nth-child(8),:nth-child(12),:nth-child(16){
    margin-right: 0!important;
}
p.ttl{
    font-size: 1.3rem;
    margin-bottom: 0;
}
.worksList a{
    display: block;
    width: 100%;
    height: 100%;
}
.worksList a:hover{
    opacity: 0.8;
}
/*------------------

    Detail

-------------------*/
.detailImg{
    width: 800px;
    margin: 0 auto;
}
.detailInfo{
    width: 680px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.detailInfo h3{
    margin: 0;
    padding-left: 30px;
    border-left: 5px #dc7b94 solid;
    font-size: 1.8rem;
    margin-bottom: 30px;
}
p.desc{
    margin: 0;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}
.detailInfo h4{
    margin: 0;
    font-size: 1.6rem;
    padding-bottom: 10px;
    border-bottom: #dc7b94 2px dotted;
    margin-bottom: 10px;
}
.detailInfo ul{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.detailInfo ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
.detailInfo ul li:last-child{
    margin-bottom: 0;
}
.detailInfo ul li p{
    margin: 0;
    margin-bottom: 20px;
}
.back a{
    display: block;
    width: 300px;
    margin: 0 auto;
    background-color: #c58b8a;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    color: #22181b;
    font-size: 1.6rem;
    letter-spacing: 0.06em;
    font-family: 'Futura',sans-serif;
}
.back a:hover{
    background-color: #c58b8a;
    color: #8b465a;
    transition: 0.2s; 
}
/*------------------

    footer

-------------------*/
footer{
    background-color: #c58b8a;
    color: #22181b;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
}
footer p{
    margin: 0;
    padding: 20px 0;
    font-family: Futura, sans-serif;
}
.pageTop{
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
}




















